@import "_variables.scss";

.btn-green {
    height: 30rem;
    position: relative;
    background-color: green;
    font-size: 3rem;
    opacity: 1;
    transition: all 0.3s;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s;
    color: black;
}

.btn-green:hover {
    transform: translate(-50%, -50%);
}

.btn-green:hover {
    opacity: 1;
    top: 50%;
}


