@import "_variables.scss";

.btn-blue {
    background-color: blue;
    color: white;
}

.btn-blue:hover {
    transform: scale(1.3);
    box-shadow: 0.3rem 1rem rgba(0, 0, 0,0.2);
    transform: skew(-30deg);
}