@import "_variables.scss";

.btn,
.btn:link, 
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4 rem;
    margin: 1rem auto;
    border-radius: 10rem;
    font-size: 2rem;
    transition: all 0.3s;
}

.btn-red {
    background-color: red;
    color: #fff;
}
.btn:hover{
    transform: scale(1.25);
    box-shadow: 0 10px 0.5rem rgba($color:black, $alpha: 0.2);
}

.btn::after {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.3s;
}